/* Write your CSS here */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #5e37ba;
  margin: 20px 3px;
  border-radius: 5px;
  padding: 3px 12px;
}

.title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}
.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
.delete-btn {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 16px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: red;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
}
.edit-btn {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
}
.save-btn {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
}
